<template id="id_word_list_entry">
    <div class="row">
        <div class="col p-0 pb-2">
            <div class="container rounded border p-3 pt-2 pb-2">
                <div class="row mb-2">
                    <div class="col">
                        <a class="h5 link-primary text-decoration-none data-title data-link"
                           href="/word-lists/practice.html?"></a>
                    </div>
                    <div class="col-auto">
                        <a class="h6 link-primary text-decoration-none data-link"
                           href="/word-lists/list.html?">View list</a>
                </div>
                <div class="row">
                    <div class="col data-description"></div>
                </div>
            </div>
        </div>
    </div>
</template>